@tailwind base;
@tailwind components;
@tailwind utilities;

ul.agents::-webkit-scrollbar {
  width: 10px;
}

ul.agents::-webkit-scrollbar-track {
  background-color: #eaecf0;
  border-radius: 10px;
}

/* Handle */
ul.agents::-webkit-scrollbar-thumb {
  background: #293d71;
  border-radius: 10px;
}
ul.agents::-webkit-scrollbar-thumb:hover {
  background: #00113d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
